/* PC */
@media (min-width: 64em) {

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-form .form-submit {
        padding: 16px 32px;
    }
}

/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .contact-body .contact-inf {
        line-height: 1.8;
    }

    .contact-form .form-control {
        padding: 12px;
    }

    #footer a {
        font-size: 32px;
        padding: 0 8px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header .bar-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    #content .member-name {
        margin-top: 32px;
    }

    #content .s-full-width,
    #content .s-col-full {
        width: 100%;
    }

    #content .s-mt-8 {
        margin-top: 8px;
    }

    .contact-body {
        margin-top: 32px;
        margin-left: 8px;
    }

    .s-row {
        margin-left: -8px;
        margin-right: -8px;
    }
}